input[type="text"], input[type="password"], input[type="email"] {
	margin-bottom: 10px;
	width: 300px;
	height: 45px;
	border-radius: 3px;
	border-width: 1px;
	border-color: #CCCCCC;
}

#loginBtn {
	margin-top: 25px;
	margin-bottom: 15px;
	width: 300px;
	height: 50px;
	border: 2px solid skyblue;
	border-radius: 6px;
	background-color: skyblue;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

#resignBtn {
	margin-top: 25px;
	margin-bottom: 15px;
	width: 80px;
	height: 25px;
	border: 2px solid skyblue;
	border-radius: 6px;
	font-size: 15px;
	font-weight: bold;
	color: black;
}

a {
	text-decoration-line: none;
}

.loginFailure {
	width: 300px;
	height: 30px;
	padding-top: 7px;
	background-color: skyblue;
}

.box {
	width: 500px;
	height: 450px;
	border: 4px solid skyblue;
}

.box2 {
	width: 500px;
	height: 300px;
	border: 4px solid skyblue;
}

.box3 {
	width: 500px;
	height: 380px;
	border: 4px solid skyblue;
}