.bookreview_box  {
	border-collapse:collapse;
	border-spacing:0;
	margin: auto;
	width: 60%;
	height: 225px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.bookreview_box td{
	border-color:black;
	border-style:solid;
	border-width:1px;
	padding:10px 5px;
	word-break:normal;
}

.bookreview_box th{
	border-color:black;
	border-style:solid;
	border-width:1px;
}
 