#logo {
	margin: 25px 30px;
	text-align: center;
}
	
#logo a {
	text-decoration: none;
	color: black;
}  

#searchText {
	font-size: 16px;
    width: 325px;
    height: 11px;
    padding: 10px;
}

#search_button {
    width: 100px;
    height: 35px;
    background: black;
    outline: none;
    color: #ffffff;
    font-weight: bold;
}

table {
	width: 800px;
}

th, td {
	height: 50px;
	text-align: center;
}

th {
	border-bottom: 1.5px solid black;
}

a {
	text-decoration-line: none;
	color: black;
}