li a {
	color: black;
}

#buttonSt{
	border-radius: 3px;
	border-width: 1px;
	border-color: #CCCCCC;
	width: 100px;
	height: 30px;
}

#commentB{
	border-radius: 3px;
	border-width: 1px;
	border-color: #CCCCCC;
	width: 60px;
	height: 35px;
}

#comment_input {
	font-size: 16px;
	width: 42%;
	height: 70px;
	padding: 10px;
}

#comment_input2 {
	font-size: 16px;
	width: 97%;
	height: 95%;
	padding: 10px;
}

.book_box  {
	border-collapse:collapse;
	border-spacing:0;
	margin: auto;
	width: 50%;
	height: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.book_box td{
	border-color:black;
	border-style:solid;
	border-width:1px;
	padding:10px 5px;
	word-break:normal;
}

.book_box th{
	border-color:black;
	border-style:solid;
	border-width:1px;
	padding:10px 5px;
}

.book_title{
	font-size: 20px;
	font-weight: bold;
}

.book_pic{
	width: 20%;
}

.book_cover{
	width: 200px;
}

.book_multiline_review{
	height: 100px;
}

.comment_box  {
	border-collapse:collapse;
	border-spacing:0;
	margin: auto;
	width: 50%;
	height: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.comment_box td{
	border-color:black;
	border-style:solid;
	border-width:1px;
	padding:10px 5px;
}

.comment_box th{
	border-color:black;
	border-style:solid;
	border-width:1px;
	padding:10px 5px;
}

.comment_detail{
 	height: 100px;
}

.comment_nick{
	width: 500px;
}


.comment_nick_same{
	width: 500px;
	color:cornflowerblue;
}

td form { 
	float: right; 
}