<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.mybatis.mapper.InterestMapper">
	<cache />

	<resultMap id="interestResultMap" type="model.Interest">
		<result property="levelId" column="levelId" />
		<collection property="categoryList" ofType="int">
			<result column="categoryId" />
		</collection>
		<collection property="languageList" ofType="int">
			<result column="languageId" />
		</collection>
	</resultMap>

	<select id="findInterestById" parameterType="String"
		resultMap="interestResultMap">
		SELECT
		m.levelId,
		c.categoryId,
		l.languageId
		FROM MEMBER m
		LEFT JOIN INTERESTLANG l ON m.userId = l.userId
		LEFT JOIN INTERESTCAT c ON m.userId = c.userId
		WHERE m.userId = #{userId}
	</select>

</mapper>