#logo {
	margin: 25px 30px;
	text-align: center;
}

#searchClick {
	width: 100px;
	height: 35px;
	background: black;
	outline: none;
	color: #ffffff;
	font-weight: bold;
}

#searchText {
	font-size: 16px;
	width: 325px;
	height: 11px;
	padding: 10px;
}

input {
	vertical-align: middle;
}

a, button {
	text-decoration: none;
	color: black;
	cursor: pointer;
}